@import '../../../../assets/styles/mixins.less';
@import '../../../../assets/styles/font.less';
@import '../../../../assets/styles/mediaqueries.less';

.signet-global-loader {
    display: flex;
    align-items: center;
    width: 440px;
    background: var(--color-input-bg);
    border-radius: 20px;
    border: 1px solid var(--color-input-border);
    gap: 16px;
    z-index: 999999;
    padding: 20px;
    box-shadow: 0 16px 32px -12px rgba(14, 18, 27, 0.10);

    &__text {
        display: block;
        text-align: center;
        .signet-text-style(var(--color-text-secondary), ProximaNova-Regular, 14px, 20px);
    }

    &-container {
        background: var(--color-input-bg);
        border-radius: 10px;

        &__animation {
            width: 24px;
            height: 24px;
            display: block;
            transform-origin: center center;
            animation: spin 2s linear infinite;
        }
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

::ng-deep {

    .mdc-dialog--open .mat-mdc-dialog-surface,
    .mdc-dialog--closing .mat-mdc-dialog-surface {
        border-radius: 20px !important;
    }
}

::ng-deep {
    .mat-dialog-backdrop {
        opacity: 1 !important;
    }
}

@media @mobile {
    .signet-global-loader {
        width: 100%;
    }
}