<h2 mat-dialog-title class="confirm-dialog__title">
  @if (data.icon) {
    <span
      class="confirm-dialog__icon"
      [class.confirm-dialog__icon--warn]="data.confirmColor === 'warn'">
      <mat-icon>{{ data.icon }}</mat-icon>
    </span>
  }
  {{ data.title }}
</h2>

<mat-dialog-content class="confirm-dialog__content">
  <p class="confirm-dialog__message">{{ data.message }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end" class="confirm-dialog__actions">
  <signet-button [widthUnit]="'%'" type="stroke"
    [displayText]="data.cancelLabel || 'Cancel'"
    [width]="100"
    [height]="40"
    (clicked)="onCancel()"
  />
  <signet-button [widthUnit]="'%'" [type]="confirmButtonType"
    [displayText]="data.confirmLabel || 'Confirm'"
    [width]="100"
    [height]="40"
    (clicked)="onConfirm()"
  />
</mat-dialog-actions>
