<div class="page-container">
  <div class="page-header">
    <div>
      <h1 class="page-header__title">Apply Leave</h1>
      <p class="page-header__subtitle">Submit a new leave request</p>
    </div>
  </div>
  <form class="card apply-form" [formGroup]="form" (ngSubmit)="submit()">
    <signet-search-select-dropdown
      formControlName="leaveType"
      fieldTitle="Leave Type"
      placeholder="Select leave type"
      [options]="leaveTypeOptions()"
      [width]="100"
      widthUnit="%"
      [searchFunctionality]="false"
      [required]="true"
    />
    <div class="date-row">
      <signet-date-input-field
        fieldTitle="From Date"
        placeholder="Select start date"
        [value]="fromDateValue"
        (valueChange)="onFromDateChange($event)"
        [required]="true"
        [width]="100"
        widthUnit="%"
      />
      <signet-date-input-field
        fieldTitle="To Date"
        placeholder="Select end date"
        [value]="toDateValue"
        (valueChange)="onToDateChange($event)"
        [required]="true"
        [width]="100"
        widthUnit="%"
      />
    </div>
    <signet-custom-text-area-field fieldTitle="Reason" formControlName="reason" [height]="80" [required]="true" />
    <signet-button [width]="100" [widthUnit]="'%'" type="primary" displayText="Submit Request" [disabled]="form.invalid" (clicked)="submit()" />
  </form>
</div>
