@import '../../../shared/styles/page-layout.less';
@import '../../../shared/styles/breakpoints.less';
@import '../../../shared/styles/module-layout.less';

.code-chip {
  font-family: monospace;
  background: var(--color-divider);
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.list-page-responsive(680px);
