@import '../../../shared/styles/page-layout.less';
@import '../../../shared/styles/breakpoints.less';
@import '../../../shared/styles/module-layout.less';

.code-chip {
  font-family: ProximaNova-Medium, sans-serif;
  background: var(--color-divider);
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.list-page-responsive(680px);

.data-list {
  --data-list-cols: calc(calc(100% / 674) * 110) calc(calc(100% / 674) * 200) calc(calc(100% / 674) * 110) calc(calc(100% / 674) * 110) calc(calc(100% / 674) * 100) calc(calc(100% / 674) * 44);
  --data-list-min-width: 674px;
}
