@import '../../../../assets/styles/mixins.less';
@import '../../../../assets/styles/font.less';
@import '../../../../assets/styles/mediaqueries.less';

.permission-checkbox {
    display: flex;
    align-items: flex-start;
    cursor: pointer;

    &.rounded-disabled {
        .label-text {
            color: var(--color-text-tertiary);
        }
    }

    &.disabled {
        cursor: default;
    }

    /* keep the native input for screen readers/keyboard, but hide it */
    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .checkbox-icon {
        width: 20px; // match your PNG size
        height: 20px;
        flex-shrink: 0;
        margin-right: 8px;

        &.marginRightZero {
            margin-right: 0px;
        }
    }

    .label-text {
        .signet-text-style(var(--color-text-primary), ProximaNova-Regular, 14px, 20px);

        &--required::after {
            content: "*";
            color: var(--color-danger-soft);
            position: relative;
            top: -1px;
            left: 2px;
        }
    }
}