@import '../../../shared/styles/page-layout.less';
@import '../../../shared/styles/breakpoints.less';

.kpi-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 20px;

  .mobile-and-tablet({
    grid-template-columns: 1fr;
  });
}
