.settings-subnav {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;

  &__navigator {
    display: block;
    width: 100%;
    min-width: 880px;
  }
}
