@import '../shared/settings-layout.less';

.roles-list__container,
.roles-list__drawer {
  height: 100%;
}

.roles-list__drawer {
  width: min(560px, 100vw);
}

.list-page-responsive(900);

.data-list {
  --data-list-cols: calc(calc(100% / 696) * 110) calc(calc(100% / 696) * 160) calc(calc(100% / 696) * 64) calc(calc(100% / 696) * 88) calc(calc(100% / 696) * 64) calc(calc(100% / 696) * 100) calc(calc(100% / 696) * 110);
  --data-list-min-width: 696px;
}
