@import '../shared/settings-layout.less';

.list-page-responsive(900);

.data-list {
  --data-list-cols: calc(calc(100% / 820) * 140) calc(calc(100% / 820) * 100) calc(calc(100% / 820) * 160) calc(calc(100% / 820) * 120) calc(calc(100% / 820) * 100) calc(calc(100% / 820) * 120) calc(calc(100% / 820) * 80);
  --data-list-min-width: 820px;
}

.delete-approvals-list__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
