@import '../../../../shared/styles/page-layout.less';
@import '../../../../shared/styles/module-layout.less';
@import '../../shared/billing-layout.less';

.data-table {
  width: 100%;
}

.list-page-responsive(880px);

.data-list {
  --data-list-cols: calc(calc(100% / 814) * 110) calc(calc(100% / 814) * 120) calc(calc(100% / 814) * 120) calc(calc(100% / 814) * 100) calc(calc(100% / 814) * 110) calc(calc(100% / 814) * 110) calc(calc(100% / 814) * 100) calc(calc(100% / 814) * 44);
  --data-list-min-width: 814px;
}
