@font-face {
    font-family: ProximaNova-Thin;
    src: 
        url('../fonts/proxima-nova/ProximaNovaT-Thin.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNovaT-Thin.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: ProximaNova-Light;
    src: 
        url('../fonts/proxima-nova/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: ProximaNova-Regular;
    src: 
        url('../fonts/proxima-nova/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: ProximaNova-Medium;
    src: 
        url('../fonts/proxima-nova/ProximaNova-Medium.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: ProximaNova-Semibold;
    src: 
        url('../fonts/proxima-nova/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: ProximaNova-Bold;
    src: 
        url('../fonts/proxima-nova/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/proxima-nova/ProximaNova-Bold.woff') format('woff');
    font-display: swap;
}