@import '../../../../shared/styles/page-layout.less';
@import '../../../../shared/styles/module-layout.less';
@import '../../shared/billing-layout.less';

.cell-muted {
  font-size: 12px;
  color: var(--color-text-muted);
}

.data-table {
  width: 100%;
}

.list-page-responsive(900px);

.data-list {
  --data-list-cols: calc(calc(100% / 738) * 150) calc(calc(100% / 738) * 120) calc(calc(100% / 738) * 88) calc(calc(100% / 738) * 64) calc(calc(100% / 738) * 72) calc(calc(100% / 738) * 80) calc(calc(100% / 738) * 100) calc(calc(100% / 738) * 64);
  --data-list-min-width: 738px;
}
